<div id="recipe">
    <img src="{{ recipe.image }}" alt="">
    <h2 class="display-6">{{ recipe.label }} by {{ recipe.source }}</h2>
    <p><b>Serves {{ recipe.yield }}</b></p>
    <button (click)="saveRecipe()" class="btn btn-success" [disabled]="btntxt === 'Saved!'">{{ btntxt }}</button>
    <ul class="list-group">
        <li *ngFor="let i of recipe.ingredients" class="list-group-item">{{ i.text }}</li>
    </ul>

    <h3><b>But how do I make this?</b></h3>

    <figure>
        <blockquote class="blockquote">
            <p>“A home cook who relies too much on a recipe is sort of like a pilot who reads
                the plane’s instruction manual while flying.”</p>
        </blockquote>
        <figcaption class="blockquote-footer">Alton Brown</figcaption>
    </figure>

    <p>...</p>
    <p>Totally not because this API sucks and does not provide a recipe.</p>
</div>