<div id="recipe">
    <img src="{{ recipe.image }}" alt="">
    <h2 class="display-6">{{ recipe.label }} <i>by <b>{{ recipe.source }}</b></i></h2>
    <p><b>Serves {{ recipe.yield }}</b></p>
    <button type="button" (click)="open(listModal)" class="btn btn-success" [disabled]="this.btntxt === 'Saved!'">{{
        btntxt
        }}</button>
    <ul class="list-group">
        <li *ngFor="let i of recipe.ingredients" class="list-group-item">{{ i.text }}</li>
    </ul>

    <h3><b>But how do I make this?</b></h3>

    <figure>
        <blockquote class="blockquote">
            <p>“A home cook who relies too much on a recipe is sort of like a pilot who reads
                the plane’s instruction manual while flying.”</p>
        </blockquote>
        <figcaption class="blockquote-footer">Alton Brown</figcaption>
    </figure>

    <p>...</p>
    <p>Totally not because this API sucks and does not provide a recipe.</p>

    <!-- Modal -->

    <ng-template #listModal let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form #listForm="ngForm" (ngSubmit)="saveRecipe(listForm.value)">
                <div class="form-group">
                    <label for="listSelector">Select a list: </label>
                    <select name="listSelector" id="listSelector" ngModel>
                        <option *ngFor="let i of lists" [value]="i.name">{{ i.name }}</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-dark" [disabled]="loadingLists || save_d !== 'Save'">{{
                        save_d
                        }}</button>
                </div>
            </form>

        </div>

    </ng-template>
</div>